.foo
{
    filter: progid:DXImageTransform.Microsoft.Shadow(Color=#333333, Strength=7, Direction=90),
            progid:DXImageTransform.Microsoft.Shadow(Color=#333333, Strength=7, Direction=180),
            progid:DXImageTransform.Microsoft.Shadow(Color=#333333, Strength=7, Direction=270);
}