/*/#source 1 1 TESTRUNPATH\Out\Dll\Input\ManifestTask\file1.css */
.foo:nth-child(n+1) 
{
    border-left: 25.0px dashed lightgray;
}
.bar:nth-child(n+1 of .test) {
    background-color: #ff0000;
}
/*/#source 1 1 TESTRUNPATH\Out\Dll\Input\ManifestTask\file2.css */
body
{
    color: aquamarine;
    background-color: ivory;
    margin: 0px 0in 0cm 0pt;
    padding: 1.00cm 2.0e+2px;
}

/*/#source 1 1 TESTRUNPATH\Out\Dll\Input\ManifestTask\file3.css */
DIV > P:first-child { text-indent: 0 }

A:link    { color: red }    /* unvisited links */
A:visited { color: blue }   /* visited links   */
A:hover   { color: yellow } /* user hovers     */
A:active  { color: lime }   /* active links    */


A:focus { background: yellow }
A:focus:hover { background: white }

HTML:lang(fr) { quotes: '« ' ' »' }
HTML:lang(de) { quotes: '»' '«' '\2039' '\203A' }
:lang(fr) > Q { quotes: '« ' ' »' }
:lang(de) > Q { quotes: '»' '«' '\2039' '\203A' }

/* CSS3 grammar supports a SINGLE parameter for functional pseudo-classes,
   but IE has extended support for multiple parameters. So I need to handle
   those IE extensions as well. */
body:-ms-lang(am, to)
{
    color: black;
}
