body
{
    src1a: url(http://foo.bar/font.eot);
    src1b: url('http://foo.bar/font.eot');
    src1c: url("http://foo.bar/font.eot");
    src1d: url(  http://foo.bar/font.eot  );

    src2a: url(http://foo.bar/font.eot?foo);
    src2b: url('http://foo.bar/font.eot?foo');
    src2c: url("http://foo.bar/font.eot?foo");
    src2d: url(  http://foo.bar/font.eot?foo  );

    src3a: url(http://foo.bar/font.eot#foo);
    src3b: url('http://foo.bar/font.eot#foo');
    src3c: url("http://foo.bar/font.eot#foo");
    src3d: url(  http://foo.bar/font.eot#foo  );

    src4a: url(http://foo.bar/font.eoth);
    src4b: url('http://foo.bar/font.eoth');
    src4c: url("http://foo.bar/font.eoth");
    src4d: url(  http://foo.bar/font.eoth  );

    src5a: url(http://foo.bar/.eot/font.eot);
    src5b: url('http://foo.bar/.eot/font.eot');
    src5c: url("http://foo.bar/.eot\\font.eot");
    src5d: url(  http://foo.bar/.eot/font.eot  );
}